<!doctype html>
<html>
<head>
    <title>Authentification</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Page de profile</h1>
        <a href="/logout" class="btn btn-default btn-sm">Se déconnecter</a>
    </div>

    <div class="row">

        <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Utilisateur</h3>
                    <p>
                        <strong>Email</strong>: <%= user.email %><br>
                    </p>
            </div>
            <div>
                <a href="/proj_request" class="btn btn-default"><span class="fa fa-user"></span> Soumettre un projet</a>
                <a href="/obs_request" class="btn btn-default"><span class="fa fa-user"></span> Soumettre une requête</a>
            </div>
        </div>

    </div>

</div>
</body>
</html>