<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
</head>
<body>
	<form name="user_signup" id="signup_form" action="" method="post" enctype="multipart/form-data" >
		
		Email<br>
		<input type="email" name="email"></input><br>
		
		Mot de passe<br>
		<input type="password" name="password"></input><br>
		
		<!--Confirmez votre mot de passe<br>
		<input type="password" name="user_password_confirm"></input><br>-->

		<input type="submit" name="signup" value="S'inscrire"></input>
	</form>
</body>
</html>